modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyDDdDL8F2-oZTA4RCE9LbvwWVOqYUg9vdg"
VITE_FIREBASE_AUTH_DOMAIN = "one-piece-scanner-63647.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "one-piece-scanner-63647"
VITE_FIREBASE_STORAGE_BUCKET = "one-piece-scanner-63647.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "778710341132"
VITE_FIREBASE_APP_ID = "1:778710341132:web:09c13b9d2385b3606bc029"
